[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jaclang = "*"
jac-cloud = "*"
jac-streamlit = "*"
byllm = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-chroma = "*"
chromadb = "*"
openai = "*"
pypdf = "*"
tiktoken = "*"
requests = "*"
mcp = {extras = ["cli"], version = "*"}
anyio = "*"

[dev-packages]

[requires]
python_version = "3.12"
